services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - "9000:9000"
      - "9001:9001"
    command: [ "server", "--console-address", ":9001", "/data" ]
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: 043ec277661d48bebab2972fd6043ebf
    volumes:
      - "minio_data:/data"

  createbuckets:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    depends_on:
      - minio
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/minio/9000' || exit 1
      interval: 5s
      retries: 3
      start_period: 5s
      timeout: 5s
    entrypoint: >
      /bin/sh -c "
      sleep 2;
      /usr/bin/mc alias set dockerminio http://minio:9000 minioadmin 043ec277661d48bebab2972fd6043ebf;
      /usr/bin/mc mb dockerminio/distapp;
      exit 0;
      "

volumes:
  minio_data: