@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 14px;
    --p-datatable-header-cell-background: transparent;
    --p-datatable-row-background: transparent;
}

.p-datatable-table-container {
    border-radius: var(--p-border-radius-md);
}

.p-datatable-table-container {
    background: hsl(207, 26%, 95%);
}

@media (prefers-color-scheme: dark) {
    .p-datatable-table-container {
        background: #202024;
    }
}

.p-divider-vertical.divider-app::before {
    border-left: 1px solid var(--p-datatable-border-color);
    left: unset !important;
}

.p-divider-vertical.divider-app {
    margin: 0px !important;
}

.p-divider-horizontal.divider-app::before {
    border-top: 1px solid var(--p-datatable-border-color);
    left: unset !important;
}

.p-divider-horizontal.divider-app {
    margin: 0px !important;
}

.card {
    border: 1px var(--p-datatable-border-color) solid;
    border-radius: var(--p-border-radius-md);
    padding: 15px;
}