@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    --p-content-border-color: var(--p-surface-200);
    font-variant-ligatures: none;
}

.appdark html,
.appdark body {
    --p-content-border-color: var(--p-surface-800);
}

html,
body {
    --p-datatable-header-cell-background: transparent;
    --p-datatable-row-background: transparent;
    font-family: 'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;

    --p-tabmenu-active-bar-height: 2.5px;
    --p-tabmenu-item-color: var(--p-text-color);

    word-break: break-word;

    --p-tabmenu-tablist-background: unset !important;
}

.p-datatable-table-container {
    border-radius: var(--p-border-radius-md);
}

.p-datatable-table-container {
    border: 1px var(--p-content-border-color) solid;
    border-radius: var(--p-border-radius-md);
}

.p-datatable-table-container {
    background-color: var(--p-surface-50);
}

.appdark .p-datatable-table-container {
    background-color: var(--p-surface-900);
}

.p-divider-vertical.divider-app::before {
    border-left: 1px solid var(--p-content-border-color);
    left: unset !important;
}

.p-divider-vertical.divider-app {
    margin: 0px !important;
}

.p-divider-horizontal.divider-app::before {
    border-top: 1px solid var(--p-content-border-color);
    left: unset !important;
}

.p-divider-horizontal.divider-app {
    margin: 0px !important;
}

.card {
    border: 1px var(--p-content-border-color) solid;
    border-radius: var(--p-border-radius-md);
    padding: 15px;
}

/* Fix toggle button on dark */
.appdark .p-togglebutton {
    background: var(--p-surface-700) !important;
    border-color: var(--p-surface-700) !important;
}

.appdark .p-togglebutton {
    color: var(--p-surface-100) !important;
}

.appdark .p-togglebutton.p-togglebutton-checked::before {
    background: var(--p-surface-950) !important;
}

.bg-color {
    background: var(--p-surface-50);
}

.appdark .bg-color {
    background: rgb(25, 25, 25);
}

.p-multiselect {
    min-width: 17rem;
}

.p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
}

.p-multiselect-token {
    margin: 0.1rem;
}

html:not([class*=appdark]) .bottom-menu {
    --p-button-outlined-primary-border-color: rgb(210,210,210);
}

.bottom-menu {
    --p-button-outlined-primary-border-color: rgb(90,90,90);
}