@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    --p-datatable-header-cell-background: transparent;
    --p-datatable-row-background: transparent;
    font-family: 'Inter';
    font-size: 15px;

    --p-tabmenu-active-bar-height: 2.5px;
    --p-content-border-color: var(--p-datatable-border-color);
    --p-tabmenu-item-color: var(--p-text-color);

    word-break: break-word;
}

.p-datatable-table-container {
    border-radius: var(--p-border-radius-md);
}

.p-datatable-table-container {
    border: 1px var(--p-datatable-border-color) solid;
    border-radius: var(--p-border-radius-md);
}

.p-datatable-table-container {
    background-color: var(--p-surface-50);
}

.appdark .p-datatable-table-container {
    background-color: var(--p-surface-900);
}

.p-divider-vertical.divider-app::before {
    border-left: 1px solid var(--p-datatable-border-color);
    left: unset !important;
}

.p-divider-vertical.divider-app {
    margin: 0px !important;
}

.p-divider-horizontal.divider-app::before {
    border-top: 1px solid var(--p-datatable-border-color);
    left: unset !important;
}

.p-divider-horizontal.divider-app {
    margin: 0px !important;
}

.card {
    border: 1px var(--p-datatable-border-color) solid;
    border-radius: var(--p-border-radius-md);
    padding: 15px;
}

/* Fix toggle button on dark */
.appdark .p-togglebutton {
    background: var(--p-surface-700) !important;
    border-color: var(--p-surface-700) !important;
}

.appdark .p-togglebutton {
    color: var(--p-surface-100) !important;
}

.appdark .p-togglebutton.p-togglebutton-checked::before {
    background: var(--p-surface-950) !important;
}

.bg-color {
    background: var(--p-surface-50);
}

.appdark .bg-color {
    background: rgb(25, 25, 25);
}